:root {
  --color-white: #ffffff;
  --color-primary: #a53dff;
  --color-primary-50: #edd8ff;
  --color-secondary: #2b384c;
  --text-gray-50: #f0f1f3;
  --text-gray-300: #a5acb5;
  --text-gray-400: #87909d;
  --text-gray-600: #556070;
  --text-gray-700: #424e60;
  --text-gray-900: #132238;
  --text-orange-50: #ffc8c8;
  --text-dark-900: #333333;
  --text-dark: #000000;
}
body {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
}
