.featured {
  padding-block: 126px;
  background: linear-gradient(
    45deg,
    rgba(255, 234, 198, 0.6) 0%,
    rgba(196, 245, 233, 0.6) 30%,
    rgba(196, 245, 233, 0.6) 40%,
    rgba(218, 77, 241, 0.4) 100%
  );
}
.featured .flex{
  column-gap: 8.5rem;
}
.featured p {
  font-size: var(--size-3);
  line-height: var(--size-5);
}
.featured figure {
  background: #fff;
  border-radius: 25px;
  display: flex;
  box-shadow: 0px 24px 116px 0px #2b384c17;
}

.featured .block-content > *:not(:last-child) {
  margin-bottom: var(--size-5);
}
