footer {
  background-color: var(--color-secondary);
  padding: 160px 0 50px;
  color: var(--color-white);
}
footer nav a {
  color: var(--text-gray-50);
  padding: 12px;
}
footer nav a:hover {
  color: var(--color-white);
}


/* media queries */
@media all and (max-width: 1024px) {
    footer .flex {
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
    }
  }
  