.container {
  max-width: 1320px;
  margin: auto;
  padding-inline: 15px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}

.p-2 {
  padding: 1em;
}
.px-2 {
  padding-inline: 1em;
}
.py-2 {
  padding-block: 1em;
}
.p-3 {
  padding: 1.5em;
}
.px-3 {
  padding-inline: 1.5em;
}
.py-3 {
  padding-block: 1.5em;
}
.p-4 {
  padding: 2em;
}
.px-4 {
  padding-inline: 2em;
}
.py-4 {
  padding-block: 2em;
}

.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
